{% extends "modules/base.html" %}
{% block title %}Tournament{% endblock %}
{% block content %}
{% include "modules/navbar.html" %}
<form id="invite-player">
<input type="text" name="username" placeholder="invite player">
<button type="submit">submit</button>
</form>
  <div style="margin: 0 auto; max-width: 95vw; width: 20rem; text-align: center; padding: 0.5rem; margin-bottom: 1rem;" class="alert alert-danger hide-empty">{{ERROR_MESSAGE}}</div>
  <div style="margin: 0 auto; max-width: 95vw; width: 20rem; text-align: center; padding: 0.5rem; margin-bottom: 1rem;" class="alert alert-success hide-empty">{{SUCCESS_MESSAGE}}</div>
<script type="module" src="/static/rps/rps.js"></script>
<script type="module" src="/static/rps/RPSSocket.js"></script>
{% endblock %}
